/.graphql-generated/
/public/_graphql/
/silverstripe-cache/
/.env
/vendor/
/themes/startup-theme/.github/
/themes/startup-theme/favicons/
/themes/startup-theme/fonts/
/themes/startup-theme/images/
/_resources/
/public/_resources/
